<div class="container-fullsize">

    <span href="#default" class="navbar-brand">GreenThumb Chronicles</span>

    <div class="header-right">
      <a class="nav-link" href="#home">Home</a>
    </div>
    
    <div class="header-right">
        <a class="nav-link" 
        routerLink="/blogs"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">All Blogs</a>
      </div>

      <div class="header-right"><a class="nav-link" 
        routerLink="/profile"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">My Profile</a>
      </div>

    <div>
        <img src="./assets/images/main.webp">  
      </div>

  </div>



