<div class="container">
    <div class="main-content text-center p-5">
        
        <div class="row text-center m-4">
            <h3><em>Planning Your Garden</em></h3>
        </div>

        <div class="row">
            <div class="col-md-5 m-2">
                <button type="button" id="startNewBlog" class="btn btn-success btn-lg" (click)="startBlog = !startBlog">Start New Blog</button>
            </div>
            
        </div>

        <div class="row" *ngIf="startBlog">
            <app-add-planning-blog></app-add-planning-blog>
        </div>

        <div class="row blog-content">
            <app-display-planning-blog></app-display-planning-blog>
        </div>

    </div>

    <div class="side-content p-4 m-2 line intro-color">
        <img src="../../../assets/images/planning_small.jpg">
        <div class="p-4 text-center">
            Planning your garden is essential for achieving your gardening goals,
            whether they are to grow your own food, create a beautiful landscape,
            or support local wildlife. Taking the time to plan ahead can save you time,
            money, and frustration in the long run, while also increasing the likelihood
            of success and satisfaction in your gardening endeavors.
        </div>
    </div>
</div>