<div class="container">
    <div class="main-content text-center p-5">
        <div class="row text-center">
            <h3>Planning Your Garden</h3>
        </div>

        <div class="row">
            <label for="title">Blog Title:</label>
            <input name="title" type="text" class="form-control" [(ngModel)]="title">
        </div>

        <div class="row">
            <label for="text">Blog Text:</label>
            <textarea name="text" class="form-control" [(ngModel)]="contents"></textarea>
        </div>

        <div class="row m-2">
            This is what you post will look like. Is this what you wanted to say?
        </div>

        <div class="row p-4">
            Title: <i>{{title}}</i>
        </div>
        <div class="row p-4">
            Text: <i>{{contents}}</i>
        </div>

        <div class="row p-4">
            Model Contents: <i>{{showModel}}</i>
        </div>




        <div class="row p-4">
            <button type="button" class="btn btn-success" (click)='showModel.createOn'>Submit</button>
            <i class="fa-solid fa-camera"></i>
        </div>

    </div>

    <div class="row">
        <app-post></app-post>
    </div>

    <div class="side-content p-4 m-2 line intro-color">
        <img src="../../../assets/images/planning_small.jpg">
        <div class="p-4 text-center">
            Planning your garden is essential for achieving your gardening goals,
            whether they are to grow your own food, create a beautiful landscape,
            or support local wildlife. Taking the time to plan ahead can save you time,
            money, and frustration in the long run, while also increasing the likelihood
            of success and satisfaction in your gardening endeavors.
        </div>
    </div>
</div>