
<div class="container">
    <div class="main-content text-center p-5">
        <h3>Planting Your Garden</h3>
    </div>
    <div class="side-content p-4 m-2 line intro-color">
        <img src="../../../assets/images/planting_small.jpg">
        <div class="p-4 text-center">
            The enjoyment of planting a garden goes far beyond the simple act of growing plants. 
            It encompasses a wide range of experiences and benefits that nourish the body, mind, 
            and soul, fostering a deeper connection with nature, community, and oneself.
        </div>
    </div>
    <div>
        <div class="row">
            Create a New Blog Entry:
        </div>
        <div class="row">
            <input>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success">Create</button>
        </div>
    </div>
</div>