<!-- <app-header></app-header> -->

<div class="hero-image">
  <div class="hero-text">
    <h1>I am John Doe</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>
</div>

<div class="container-fullsize">
  <div class="row">
    <div class="col-md-4 navbar-brand">
      <div class="p-2">{{title}}</div>
    </div>

    <div class="col-md-1 header-right">
      <div class="p-3"><a class="nav-link" 
        routerLink="/blogs"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">All Blogs</a></div>
    </div>

    <div class="col-md-1 header-right">
      <div class="p-3"><a class="nav-link" 
        routerLink="/planning"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Planning</a></div>
    </div>
    
    <div class="col-md-1 header-right">
      <div class="p-3">
        <a class="nav-link" 
        routerLink="/planting"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Planting</a>
      </div>
    </div>

    <div class="col-md-1 header-right">
      <div class="p-3">
        <a class="nav-link" 
      routerLink="/care-maint"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">Care & Maintence</a>
      </div>
    </div>

    <div class="col-md-1 header-right">
      <div class="p-3">
        <a class="nav-link" 
        routerLink="/harvesting"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Harvesting</a>
      </div>
    </div>

    <div class="col-md-1 header-right">
      <div class="p-3">
        <a class="nav-link" 
        routerLink="/profile"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">My Profile</a>
      </div>
    </div>

  </div>
</div>

<!-- <nav>
  <div class="navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GreenThumb Chronicles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse header-right" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                routerLink="/blogs"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">All Blogs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <a href="../assets/images/main.jpg"></a>
    <a href="#default" class="logo"></a>
  </div>



</nav> -->

<!-- <div class="container">
  <ul>
    @for (item of items; track item.wishText) {
      <li>{{ item.wishText }}</li>
    }
    @empty {
      <span>Empty list of wishes</span>
    }
  </ul>

  {{someOtherThing}}

</div>

<div class="container-fullsize">
</div>

// Example Two-Way Data Binding in Angular
<input [(ngModel)]="username" />
<p>Hello, {{ username }}!</p> -->



<!-- <app-blogs></app-blogs>
<app-blog></app-blog>
<app-profile></app-profile> -->

<router-outlet></router-outlet>