<div class="row">
    <div class="container-fullsize">
      <div class="row">

        <div class="col-md-5 navbar-brand">
          <div class="p-2">
            <a class="nav-link" 
            routerLink="/home"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">{{title}}</a>
          </div>
        </div>
    
        <div class="col-md-1">
          <div class="p-3"><a class="nav-link" 
            routerLink="/home"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">All Blogs</a></div>
        </div>
    
        <div class="col-md-1 header-right">
          <div class="p-3"><a class="nav-link" 
            routerLink="/planning"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Planning</a></div>
        </div>
        
        <div class="col-md-1">
          <div class="p-3">
            <a class="nav-link" 
            routerLink="/planting"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Planting</a>
          </div>
        </div>
    
        <div class="col-md-1">
          <div class="p-3">
            <a class="nav-link" 
          routerLink="/care-maint"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Maintence</a>
          </div>
        </div>
    
        <div class="col-md-1">
          <div class="p-3">
            <a class="nav-link" 
            routerLink="/harvesting"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Harvesting</a>
          </div>
        </div>
    
        <div class="col-md-1">
          <div class="p-3">
            <a class="nav-link" 
            routerLink="/profile"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">About Me</a>
          </div>
        </div>
    </div>
</div>

<div class="row">
  <router-outlet></router-outlet>
</div>

