
<div class="container">
    <div class="main-content text-center p-5">
        <h3>Care & Manitenance of Your Garden</h3>
    </div>
    <div class="side-content p-4 m-2 line intro-color">
        <img src="../../../assets/images/care_small.jpg">
        <div class="p-4 text-center">
            Garden care and maintenance is important for ensuring the health, beauty, and 
            productivity of your garden. By taking the time to care for your garden properly, 
            you can enjoy the rewards of a thriving and vibrant outdoor space filled with 
            healthy plants and abundant harvests.
        </div>
    </div>
    <div>
        <div class="row">
            Create a New Blog Entry:
        </div>
        <div class="row">
            <input>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success">Create</button>
        </div>
    </div>
</div>